.material-icons.orange600 { color: #FB8C00; }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 82px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.back {background: chartreuse}

.example-fill-remaining-space {
    /*// This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.*/
    flex: 1 1 auto;
  }

  .example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .example-tooltip-host {
    display: inline-flex;
    align-items: center;
    margin: 50px;
  }

  .example-select {
    margin: 0 10px;
  }

  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }

  #colum1 {
    background-color: #42A5F5;
    color: white;
    font-size: 25px;
  }

  #colum2 {
    border-top: 5px;
    background-color: #E3F2FD;
    color: #009688;
  }

 
  .recent-change {
    background-color: #42A5F5;
    font-size: 25px;
    color: white;
    text-align: center;
  }

  #recent-change-list {
    background-color: white;
  }

  /* */
