


<div id="search-component">
  <h4>Hero Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let hero of heroes | async" >
      {{hero.name}}
    </div>
  </div>
</div>


<!--<form (ngSubmit)="onSubmit()">
  <div class="form group">
    <label for="lname"> Last Name</label>
      <input type="text" id="lname" name="lname" class="form-control" [(ngModel)]="lname">
  </div>

  <div class="btn-group"> 
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form> 

<ul>
  djflijl
	<li *ngFor="let user of users">
		<h4>{{user.id}} - {{user.fname}} {{user.lname}}</h4>
	</li>
</ul> -->
